* {
    margin: 0;
    padding: 0;
}

body {
    font-family: inter, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; */
}

header img {
    max-width: 100%;
    height: auto;
    /*object-fit: contain;*/
    width: 100px;
    height: 100px; 
}

.hero img {
    max-width: 100%;
    height: auto;
    /*object-fit: contain;*/
    width: 600px;
    height: 300px; 
}
  
.content1 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #3882F6;
    border-radius: 5px;
}  