* {
    margin: 0;
    padding: 0;
}

body {
    font-family: inter, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; */
}

/*Images*/
/*header img {
    max-width: 100%;
    height: auto;*/
    /*object-fit: contain;*/
    /*width: 100px;
    height: 100px;
}*/

.hero img {
    max-width: 100%;
    height: auto;
    /*object-fit: contain;*/
    width: 600px;
    height: 200px; 
}
  
.content1 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    width: 200px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 8px;
}  


/*Buttons*/
button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

#button-sign-cta {
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}




/*Section_Header*/
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-right: 175px;
}

header p {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

/*Nav*/
nav {
    display: flex;
}

a:link {
    text-decoration: none;
    color: #E5E7EB;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    vertical-align: text-bottom;
}


/*Section_Hero*/
.hero {
    background-color: #1F2937;
    display: flex;
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
}

.hero-copy h2 {
    font-size: 48px;
    font-weight: 700;
    color: #E5E7EB;
}

.hero-copy p {
    font-size: 18px;
    color: #E5E7EB;
}


/*Section_content1*/
.content1 {
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content1 .subheader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.content1 .randocontainer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 50px;
}

.flex1, .flex2, .flex3, .flex4 {
    /*margin: 0 auto;*/
    text-align: center;
    width: 160px;
}

/*Section_content2*/
.content2 {
    background-color: #E5E7EB;
    padding-left: 275px;
    padding-right: 275px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content2 p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.content2 #quotesigned {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 800;
    text-align: right;
}


/*Section_content3*/
.content3 {
    display: flex;
    background-color: #3882F6;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.content3 p {
    color: white;
}

.content3 #cta_title {
    font-weight: 700;
}


/*Section_Footer*/
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}